<header>
    <a href="/">Service App</a>
    <nav>
        <a href="/services">services</a>
        <a href="/about">about</a>
        <a href="/contact">contact</a>
        <a href="/booknow">book now</a>
    </nav>
</header>