<header>
  <a href="/">
    <img src="images/darklogo.png" alt="car service app logo" height="50px" />
  </a>

  <nav>
    <a href="/services">services</a>
    <a href="/about">about</a>
    <a href="/contact">contact</a>

    <% if(locals.isLoggedIn){ %>
    <a href="/account">account</a>
    <a href="/logout" class="cta-link">log out</a>
    <% }else{ %>
    <a href="/signin" class="cta-link">Sign in </a>
    <% } %>
  </nav>
</header>
