<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car service App - Book now</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <%- include("_header.ejs") %>
    <main>
        <h1>book our services Today</h1>
        <form action="/" method="">
            <div class="group">
                <label for="">
                    <select name="" id="">
                        <option value="">Select a package</option>
                    </select>
                </label>
            </div>
            <div class="group">
                <input type=" submit" value="complete booking">
            </div>

        </form>
    </main>
    <%- include("_footer.ejs")%>
    
</body>
</html>